Old Code/
__pycache__/
*.pyc
Main.build/
Main.dist/
Main.onefile-build/
Update.build/
Update.dist/
Update.onefile-build/
venv/
.vscode/
settings/Home Setup/profiles (copy).json
settings/Home Setup/settings (copy).json
